<div>
    <h1 class="text-center">Departamentos</h1>
    <br>
    <table class="table table-hover" *ngIf="departamentos">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            @for(dept of departamentos; track dept) {
                <tr>
                    <td>{{dept.numero}}</td>
                    <td>{{dept.nombre}}</td>
                    <td>{{dept.localidad}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
